---
import Contact from "@/components/Contact";
import Hero from "@/components/Hero";
import { ModeToggle } from "@/components/ModeToggle";
import Portfolio from "@/components/Portfolio";
import Services from "@/components/Services";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Profile Candra || Home">
  <main>
    <div
      class="flex justify-between items-center sticky top-0 w-full px-2 py-1 border-b"
    >
      <a href="#Hero">Hero</a>
      <a href="#Services">Services</a>
      <a href="#Contact">Contact</a>
      <a href="#Portfolio">Portfolio</a>
      <ModeToggle client:load />
    </div>
    <Hero client:load />
    <Services client:load />
    <Contact client:load />
    <Portfolio client:load />
  </main>
</Layout>
